*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   width: 100%;
   height: 100%;
   min-height: 100vh;
   background: url(images/bg-img-compressed.webp) no-repeat;
   background-size: cover;
   font-family: "Poppins", sans-serif;
   color: #555666;
}

h1 {
   color: #393a46;
}

button {
   font-family: "Poppins", sans-serif;
   padding: 0.5rem 1.75rem;
   font-size: 0.9rem;
   border-radius: 6px;
   border: none;
   margin-right: 2rem;
   text-transform: uppercase;
   font-weight: 500;
   cursor: pointer;
   user-select: none;
   background: hsla(144, 64%, 61%, 1);
   background: linear-gradient(
      135deg,
      hsla(144, 64%, 61%, 1) 0%,
      hsla(128, 29%, 53%, 1) 47%,
      hsla(112, 60%, 63%, 1) 100%
   );
   background: -moz-linear-gradient(
      135deg,
      hsla(144, 64%, 61%, 1) 0%,
      hsla(128, 29%, 53%, 1) 47%,
      hsla(112, 60%, 63%, 1) 100%
   );
   background: -webkit-linear-gradient(
      135deg,
      hsla(144, 64%, 61%, 1) 0%,
      hsla(128, 29%, 53%, 1) 47%,
      hsla(112, 60%, 63%, 1) 100%
   );
   color: #fff;
   box-shadow: 2px 2px 10px #b6b6b6;
   transition: box-shadow 300ms ease-in-out;
}

button#reset,
form > button.reset {
   background: hsla(1, 77%, 55%, 1);
   background: linear-gradient(
      135deg,
      hsla(1, 77%, 55%, 1) 0%,
      hsla(1, 87%, 37%, 1) 47%,
      hsla(1, 71%, 62%, 1) 100%
   );
   background: -moz-linear-gradient(
      135deg,
      hsla(1, 77%, 55%, 1) 0%,
      hsla(1, 87%, 37%, 1) 47%,
      hsla(1, 71%, 62%, 1) 100%
   );
   background: -webkit-linear-gradient(
      135deg,
      hsla(1, 77%, 55%, 1) 0%,
      hsla(1, 87%, 37%, 1) 47%,
      hsla(1, 71%, 62%, 1) 100%
   );
}

button:hover,
button:active {
   box-shadow: 0 0 15px #8ef39f;
}

button#reset:hover,
button#reset:active,
form > button.reset:hover,
form > button.reset:active {
   box-shadow: 0 0 15px #ff5f5f;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #f7f3f6b9;
}

form {
   display: none;
   position: fixed;
   max-width: 300px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.2) rotateZ(90deg);
   border: 1px solid #333;
   padding: 1rem;
   z-index: 2;
   background: #fff;
   transition: transform 0.3s ease-in-out, opacity 0.35s ease-out;
}

/* header logo */
.logo {
   display: flex;
   padding: 1rem 2rem;
   user-select: none;
}

.logo > img {
   width: 50px;
   height: 53px;
}

.logo > h1 {
   margin-left: 1rem;
}

/* form */
.form {
   padding: 1.85rem;
   background: #f7f3f6d5;
   backdrop-filter: blur(3px);
   border-radius: 0.55rem;
   border: 4px solid #257fdf;
}

.form label {
   font-size: 0.8rem;
   font-weight: 600;
}

.form input {
   width: 100%;
   padding: 0.5rem;
   border: 2px solid #ccc;
   border-radius: 6px;
   font-size: 0.925rem;
   font-weight: 500;
   color: #555666;
   transition: border-color 300ms ease-in-out;
   margin-bottom: 0.25rem;
}

.form input[type="number"] {
   width: 100%;
}

.form > button {
   width: 100%;
   margin-top: 1rem;
   background: #52a3fa;
   background: linear-gradient(135deg, hsla(211, 94%, 65%, 1) 0%, hsla(224, 78%, 34%, 1) 47%, hsla(232, 94%, 57%, 1) 100%);
   background: -moz-linear-gradient(135deg, hsla(211, 94%, 65%, 1) 0%, hsla(224, 78%, 34%, 1) 47%, hsla(232, 94%, 57%, 1) 100%);
   background: -webkit-linear-gradient(135deg, hsla(211, 94%, 65%, 1) 0%, hsla(224, 78%, 34%, 1) 47%, hsla(232, 94%, 57%, 1) 100%);
}

.form > button:hover, .form > button:active {
   box-shadow: 0 0 12px #52a3fa;
}

.split {
   display: flex;
   gap: 1rem;
   justify-content: space-between;
}

.split > div:first-child {
   flex: 1;
}

.show-form {
   transform: translate(-50%, -50%) scale(1);
}

.close-form {
   display: inline-block;
   position: absolute;
   right: 1.25rem;
   top: 1rem;
   font-size: 1.5rem;
   cursor: pointer;
   transition: color 300ms ease-in-out;
}

.close-form:hover {
   color: #ff5f5f;
}

.fade-out {
   transform: translate(-50%, -50%) scale(0);
   opacity: 0;
}

.overlay {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   min-height: 100vh;
   background: #33333344;
   z-index: 1;
}

#reset-confirm {
   border-color: #f75d5d;
}

#reset-confirm > div {
   top: 0.1rem;
   right: 0.6rem;
}

/* checkbox */
input[type="checkbox"] {
   opacity: 0;
}

.checkbox-container {
   position: relative;
   left: 2px;
}

.checkbox-container > label {
   box-sizing: content-box;
   background-color: #ffffff;
   border: 2px solid #ccc;
   border-radius: 15%;
   cursor: pointer;
   height: 2rem;
   width: 2rem;
   left: 0;
   position: absolute;
   top: 0;
}

.checkbox-container > label::after {
   border: 3px solid #ffffff;
   border-top: none;
   border-right: none;
   content: "";
   height: 10px;
   left: 7px;
   opacity: 0;
   position: absolute;
   top: 10px;
   transform: rotate(-45deg);
   width: 22px;
}

.checkbox-container > input[type="checkbox"]:checked + label {
   background-color: #62cd85;
   border-color: #62cd85;
 }

.checkbox-container > input[type="checkbox"]:checked + label:after {
   opacity: 1;
}

/* books container */
.books {
   padding: 2rem;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
   justify-items: center;
}

@media (max-width: 1080px) {
   .books {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 720px) {
   .books {
      grid-template-columns: 1fr;
   }
}

/* book cards */
.book {
   max-width: 100%;
   width: 100%;
   min-height: 214px;
   display: flex;
   flex-direction: column;
   background: #fff;
   padding: 1rem 3rem 1.5rem 2rem;
   border-radius: 6px;
   border-top: 5px solid #f75d5d;
   box-shadow: 3px 3px 12px #aaa8a8;
   position: relative;
   overflow-wrap: break-word;
   overflow: hidden;
   transition: border-color 0.3s ease-in-out;
}

.book > h2 {
   position: relative;
   margin-bottom: 0.75rem;
}

.book > div {
   position: absolute;
   right: 1rem;
   top: 1rem;
}

.book > p:nth-of-type(1) {
   margin-bottom: 1rem;
   font-weight: 500;
}

.book > p:nth-last-of-type(2) {
   margin-top: auto;
   margin-bottom: 0.5rem;
}

.book span:first-of-type {
   font-size: 0.9rem;
   color: #999;
   font-weight: 500;
   margin-right: 0.25rem;
}

.read {
   border-color: #5ff35f;
}

/*  toggle switch */
.toggle-out {
   position: relative;
   display: inline-block;
   top: 0.25rem;
   width: 1.85rem;
   height: 1.15rem;
   cursor: pointer;
   margin-left: 0.25rem;
   background: #f75d5d;
   border-radius: 10px;
   transition: all 0.3s ease-in-out;
}

.toggle-in {
   position: absolute;
   top: 2.5px;
   left: 2.5px;
   width: 50%;
   height: 78%;
   background: #fff;
   border-radius: 50%;
   transition: all 0.3s ease-in-out;
}

.toggled-out {
   background: #5ff35f;
}

.toggled-in {
   transform: translateX(75%);
}

/* trash icon */
.trash {
   display: inline-block;
   margin-top: 0.5rem;
   font-size: 1.25rem;
   cursor: pointer;
   transition: color 350ms ease-in-out;
}

.trash:hover {
   color: #cf0202;
}

/* card corner book image */
.bookimg {
   position: absolute;
   bottom: 1rem;
   right: 1rem;
   user-select: none;
}

/* add book card */
.blank-book {
   border-color: blue;
   position: relative;
   justify-content: center;
   align-items: center;
   font-size: 5rem;
   cursor: pointer;
   user-select: none;
   transition: color 350ms ease-in-out;
}

.blank-book:hover {
   color: #3232d4;
}

.blank-book > p {
   position: absolute;
   font-size: 1.05rem;
   font-weight: 500;
   bottom: 1rem;
}

.blank-book i,
.blank-book i::before {
   transform: translateY(-8px);
}
